.local
.DS_Store
.vagrant
*.log
*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
terraform/vars.tf
EC2.pem
terraform/mykey
terraform/mykey.pub
.terraform.tfstate.lock.info
terraform/.classpath
terraform/.project
terraform/.settings/org.eclipse.jdt.apt.core.prefs
terraform/.settings/org.eclipse.jdt.core.prefs
terraform/.settings/org.eclipse.m2e.core.prefs
