.local
.DS_Store
.vagrant
*.log
*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
terraform/vars.tf
EC2.pem
terraform/mykey
terraform/mykey.pub
.terraform.tfstate.lock.info
